* {
    padding: 0px;
    margin: 0px;
}
/* For Standard displays */
@media screen and (min-width: 851px) {
    button {
        color: #907aa9;
        border: 0;
        border-radius: 0px;
        font-size: 2rem;
        background-color: #faf4ed;
    }
    .gridlayout {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 2rem 3rem 3rem 10fr 10fr 2rem;
        grid-template-areas: 
            'mt mt t t t t t t'
            'mt mt mc mc mc mc mc mc'
            'mt mt mc mc mc mc mc mc'
            'mt mt mc mc mc mc mc mc'
            'mt mt mc mc mc mc mc mc'
            'mt mt b b b b b b';
        height: 100vh;
        width: 100vw;
    }
    .bottom {
        background-color: #faf4ed;
        grid-area: b;
        grid-column-start: 4;
        grid-column-end: 7;
        font-size: 2rem;
        text-align: left;
    }
    .sidemenu {
        background-color: #faf4ed;
        grid-area: mt;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 2rem;
    }
    .sidemenuextend {
        background-color: #f2e9de;
        grid-area: mt;
        grid-row-start: 1;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 2rem;
    }
    .top {
        background-color: #faf4ed;
        grid-area: t;
        text-align: right;
        display:flex;
        grid-column-start: 8;
        grid-column-end: 9;
        justify-content: space-evenly;
    }
    .buttonextended {
        background-color: #f2e9de;
        text-align: right;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .navdesign {
        font-size: 1.5rem;
        display:inline-block;
    }
    button.sidemenu {
        position: relative;
        top: 2rem;
    }
    .sidebaritems {
        display:flex;
        justify-content: center;
    }
    
    .sidemenuitems {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 2rem;
    }
    
    h1{
        font-size: 2rem;
    }
    
    .middle {
        background-color: #faf4ed;
        grid-area: mc;
        font-size: 1.5rem;
    }
    
    .middlenote{
        font-size: 2rem;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 4;
        grid-column-end: 7;
    }
    
    .middlenoteextended{
        font-size: 2rem;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 4;
        grid-column-end: 7;
    }
    .buttonsavedelete{
        vertical-align: bottom;
    }
    
    .notesbutton {
        vertical-align: top;
    }
}
/* For Iphone X */
@media screen and (max-width: 850px) {
    button {
        color: #907aa9;
        border: 0;
        border-radius: 0px;
        font-size: 1rem;
        background-color: #faf4ed;
    }
    .gridlayout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2rem 3rem 3rem 10fr 10fr 2rem;
        grid-template-areas: 
            't t'
            'mt mt'
            'mt mt'
            'mc mc'
            'mc mc'
            'b b';
        height: 100vh;
        width: 100vw;
    }
    .bottom {
        background-color: #faf4ed;
        grid-area: b;
        font-size: 1rem;
        text-align: left;
    }
    .sidemenu {
        background-color: #faf4ed;
        grid-area: mt;
        font-size: 1rem;
    }
    .sidemenuextend {
        background-color: #faf4ed;
        grid-area: mt;
        font-size: 1rem;
    }
    .middlenoteextended{
        font-size: 2rem;
        grid-area: mc;
    }
    .middlenote{
        font-size: 1.5rem;
        grid-area: mc;
    }
    .top {
        background-color: #faf4ed;
        grid-area: t;
        text-align: right;
        display:flex;
        justify-content: space-evenly;
    }
    .buttonextended {
        background-color: #faf4ed;
        grid-area: mt;
        text-align: left;
    }
    .navdesign {
        font-size: 1.5rem;
        display:inline-block;
    }
    button.sidemenu {
        grid-area:mt;
        top: 1rem;
    }
    .buttonsavedelete{
        vertical-align: bottom;
    }
    .notesbutton {
        vertical-align: top;
    }
    .sidemenuitems {
        grid-area: mt;
    }
    .sidebaritems {
        text-align: right;
        display:flex;
        justify-content: center;
    }
}
body {
    background-color:#faf4ed;
    color: #907aa9;
    font-family: 'Roboto', sans-serif;
}
